.text-justify {
    text-align: justify;
    color: white;
    text-shadow: 3px 3px 0px black;

}
.text-justify-dos{
    text-align: justify;
    color: #029c88;
    text-shadow: 3px 3px 0px black;
    background-color: black;
    text-size-adjust: 200px;
    
    

}
