.Skateshop {
    color: #00c2a8;
}
.titulo{
    color: #029c88;
    text-shadow: 3px 3px 0px black;
}
.info{
    background-color: #00c2a8;
    border-color: black;
    color: black;

}
.footer{
    background-color: black;
    justify-content: baseline;
    margin-top: auto;
    
   
    
}
.video{
    
    width: 500px;
    height: 300px; ;
}

