* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

body {
   
    font-size: 16px;
    background-image: url("../fondo/sport-1284275_1280.webp");
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    
}

.nav-link {
    font-weight: 600;
}